.slack-logo {
    width: 175px; 
    height: auto;
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-left: 10.5%!important;
}

.menu-end {
    margin-right: 15%!important;
}

.menu-end button {
    font-size: 15px!important;
    padding-left: 0.5em!important;
    padding-right: 0.5em!important;
    background-color:rgb(97, 31, 105)!important;
    color: white!important;
}

.menu-end button:hover {
    background-color: #4a154b!important;
}

.section-one {
    height: 500px;
    background-image: url("https://a.slack-edge.com/59662/marketing/img/homepage/video/brand-campaign_hero-poster.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px!important;
    padding-top: 70px!important;
    margin-bottom: 80px!important;
}

.section-one-text h4 {
    font-size: 64px;
    max-width: 640px;
}

.section-one-text h5 {
    font-size: 20px;
    max-width: 512px;
    margin-top: 0!important;
}

.section-one-text .small-text {
    margin-top: 1em;
}

.small-text a {
    color: rgb(18, 100, 163);
    cursor: pointer;
}

.section-one-buttons {
    margin-top: 1em;
}

.section-one-buttons button {
    padding: 19px 40px 20px 40px!important;
}

.try-slack {
    background-color: rgb(97, 31, 105)!important; 
    color: white!important;
}

.try-slack:hover {
    background-color: #4a154b!important;
}

.auto-margin{
    margin-left: auto!important;
    margin-right: auto!important;
}

.section-two img {
    width: 870px;
    height: 489px;
}

.section-two-bottom-header {
    font-size: 18px;
}

.section-two {
    margin-bottom: 24px!important;
}

.section-two-spacer {
    margin: 18px 0px;
}

.footer {
    margin-top: 80px!important;
}